@import "fonts.css";

:root{
  --primary: #f8b600;
  --secondary: #033545;
  --text: #373948;
  --text-secondary: #425762;
  --text-hover: #191920;
  --btn: #f8b600;
  --btn-hover: #dba100;
  font-size: 16px;
}

p.h1, h1, p.h2, h2 {
  font-family: Ramabhadra;
  color: var(--text);
}

p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6, a,p,div,input,button,textarea{
  font-family: Roboto;
  color: var(--text);
}

.ff-roboto{
  font-family: Roboto!important;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 30px;
  padding: 10px 30px;
  color: var(--text);
  font-weight: 700;
  min-width: 150px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: var(--btn-hover)!important;
  border-color: var(--btn-hover)!important;
  box-shadow: none!important;
}

/*----------------------------header-------------------------------*/

  header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  header .bgheader {
    position: absolute;
    width: 100%;
    background: #373948A3;
    z-index: 11;
    transform: translateY(-100px);
    transition: ease-in-out .3s;
  }

  header .bgheader.bgShow {
    transform: translateY(0px);
  }

  header .innerBgheader {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
  }

  header .innerBgheader img{
    width: 200px;
  }

  header .navbar {
    position: relative;
    z-index: 12;
    height: 66px;
  }

  header .navbar a.nav-link{
    color: #fff!important;
    margin-left: 35px;
  }

  header button.navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header button.navbar-toggler span {
    width: 30px;
    height: 5px;
    background: #fff;
    border-radius: 13px;
    margin: 2px 0;
  }
  header button.navbar-toggler:focus {
    box-shadow: none;
  }

/*----------------------------Banner-------------------------------*/

  section#banner {
    padding: 0;
  }

  #banner .containerGrid {
    padding: 0;
    display: grid;
    grid-template-columns: 45% 55%;
    min-height: 100vh;
  }

  #banner .containerGrid .innerGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  #banner .containerGrid .left {
    background: linear-gradient(90deg, #d25941c0 0%, #d25941c0 100%), url('../images/header-left.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #banner .containerGrid .left img{
    width: 100%;
    max-width: 417px;
  }

  #banner .containerGrid .right {
    background-image: url('../images/header-right.svg'), linear-gradient(90deg, #373948 0%, #373948 100%);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    padding: 0;
  }

  #banner .containerGrid .right div.containerText{
    position: relative;
    width: 100%;
  }

  #banner .containerGrid .right div.bannerText{
    width: 95%;
    max-width: 520px;
    margin: 0 auto;
  }

  #banner .dividerBanner {
    width: 75%;
    height: 5px;
    background: var(--primary);
    left: 0;
    position: absolute;
    top: -50px;
  }

/*------------------------------us---------------------------------*/

  #us .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #us .item:before, #us .item:after {
    content: "";
    height: 1px;
    width: 50%;
    background: var(--text);
    margin: 20px 0;
  }

/*------------------------------us2--------------------------------*/

  section#us2{
    background-image: linear-gradient(90deg, #0A2036c0 0%, #0A2036c0 100%), url('../images/us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #us2 .flags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 0;
  }

  #us2 .flags img {
    width: 46px;
    height: auto;
    margin: 0 15px;
  }

/*------------------------------us3--------------------------------*/

  section#us3 {
    overflow: hidden;
  }

  section#us3 img.logoSections {
    position: absolute;
    top: 3vh;
    right: -75px;
  }

  section#us3 .left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  section#us3 .left .h2{
    text-align: right;
    margin-bottom: 50px;
    font-weight: 500;
  }

  section#us3 .divider {
    width: 40%;
    height: 2px;
    background: #593C1B;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px 0;
  }

/*------------------------------us4--------------------------------*/

  section#us4{
    padding: 16vh 0;
  }

  section#us4 .left .h2{
    text-align: right;
    margin-bottom: 50px;
    font-weight: 500;
  }

  section#us4 img.logoSections {
    position: absolute;
    left: 35%;
    top: 75%;
  }

  section#us4 .left .containerImgApto{
    position: absolute;
    left: 0;
    width: 38%;
  }

  section#us4 .left .containerImgApto img{
    width: 100%;
  }

  section#us4 .right{
    position: relative;
    z-index: 1;
  }

  section#us4 .firstDivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 2px;
    background: #F8B600;
    margin: 8vh 0;
  }

  section#us4 .secondDivider {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 2px;
    background: #50BAA3;
    margin: 8vh 0;
  }

/*------------------------------us5--------------------------------*/

  section#us5 .divider {
    width: 40%;
    height: 2px;
    background: #D25941;
    margin: 30px 0;
    position: absolute;
    top: 1vh;
    left: 0;
  }

  section#us5 .left .h2{
    text-align: right;
    margin-bottom: 50px;
    font-weight: 500;
  }

  #us5 .containerGrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 40px 0;
  }

  #us5 .containerGrid .item {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  #us5 .containerGrid .itemOceania {
    background: #50BAA3;
    margin-left: 0;
  }
  #us5 .containerGrid .itemEuropa {
    background: #8D9618;
  }
  #us5 .containerGrid .itemAfrica {
    background: #593C1B;
  }
  #us5 .containerGrid .itemAmerica {
    background: #D25941;
  }
  #us5 .containerGrid .itemAsia {
    background: #F8B600;
    margin-right: 0;
  }

  #us5 .containerGrid .item img {
    width: auto;
    height: 100%;
    max-height: 160px;
  }

/*---------------------------Projects-------------------------------*/

  section#projects .contentImg {
    position: relative;
  }

  #projects .contentImg img {
    width: 100%;
  }

  #projects .sold {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 21px 16px;
    background: #98B1BE;
    border-radius: 100%;
    box-shadow: 0 3px 6px #00000030;
  }

  #projects .sold p {
    color: #fff;
    line-height: 16px;
    font-size: 24px;
    text-align: center;
    margin: 0;
    font-weight: 700;
  }

  #projects .sold p span {
    font-size: 13px;
  }

  #projects .barProgress {
    position: relative;
    z-index: 0;
  }

  #projects .barProgress .progress {
    position: relative;
    z-index: 1;
    height: 30px;
    border-radius: 0;
  }

  #projects .progress-bar {
    background-color: #56A54B;
  }

  #projects .barProgress .legendBar {
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    height: 30px;
    align-items: center;
  }

  #projects .barProgress .legendBar span {
    font-size: 14px;
    font-weight: 700;
  }

  #projects .legendImg {
    margin: 20px 0;
  }

  #projects .legendImg .imgLegend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #projects .legendImg .imgLegend img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 52px;
  }

  #projects .legendImg .textLegend p {
    margin: 3px;
    font-size: 16px;
    font-weight: 700;
  }

  #projects .legendImg .textLegend p:nth-child(2){
    font-size: 14px;
    font-weight: 400;
  }

  #projects .legendImg .textLegend p:last-child{
    font-size: 14px;
    font-weight: 700;
  }

  #projects .btnProject {
    text-align: center;
    position: relative;
    z-index: 0;
    margin: 30px 0;
  }

  #projects .btnProject:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 48%;
    z-index: 1;
    box-shadow: 0 3px 6px #00000030
  }
  #projects .btnProject .btn{
    position: relative;
    z-index: 2;
  }

/*----------------------------backups------------------------------*/

  #backups .band {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 0;
    }
  #backups .band img {
    width: 46px;
    height: auto;
    margin: 0 15px;
    }
  #backups h2 {
    margin-top: 35px;
    margin-bottom: 94px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    }
  #backups .backupsgrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
  }

/*----------------------------contact------------------------------*/

  #contact {
    background-color: #373948;
    position: relative;
  }
  #contact .firstDivider {
    position: absolute;
    top: 109px;
    left: 0;
    width: 40%;
    height: 2px;
    background: #F8B600;
  }
  #contact .secondDivider {
    position: absolute;
    bottom: 52%;
    right: 0;
    width: 40%;
    height: 2px;
    background: #D25941;
    margin: 8vh 0;
  }
  #contact h2 {
    margin-top: 30%;
    margin-bottom: 36px;
    color: #fff;
  }
  #contact h5 {
    color: white;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  #contact form input {
    margin-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 0;
  }
  #contact textarea {
    border-radius: 0;
    height: 100px;
  }
  #contact .red{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15%;
  }

/*----------------------------Queries------------------------------*/

  @media (max-width: 1399.98px) {
    section#us4 .left .containerImgApto{
      width: 35%;
    }
    section#us4 img.logoSections {
      position: absolute;
      left: 30%;
      top: 65%;
    }
    section#us4 img.logoSections {
      position: absolute;
      left: 30%;
      top: 65%;
    }
  }

  @media (max-width: 1199.98px) {
    section#us4 .left .containerImgApto{
      width: 42%;
    }
    section#us4 img.logoSections {
      position: absolute;
      left: 37%;
      top: 60%;
    }
  }

  @media (max-width: 991.98px) {
    header .navbar a.nav-link {
      margin-left: 10px;
    }
    #us .item:before {
      content: none;
    }
    section#us4 img.logoSections {
      position: absolute;
      left: 35%;
      top: 50%;
    }
    #us5 .containerGrid {
      display: block;
      width: 100%;
    }
    #projects .legendImg .imgLegend {
      margin: 20px 0;
    }
    #projects .legendImg .textLegend p {
      text-align: center;
    }
    #projects .btnProject {
      text-align: center;
      position: relative;
      z-index: 0;
      margin: 30px 0 50px;
    }
    #backups h2 {
      margin-top: 42px;
      margin-bottom: 42px;
      font-size: 16px;
      margin-left: 24px;
      text-align: center;
      margin-right: 13px;
    }
    #backups .backupsgrid p {
      margin-bottom: 0;
    }
    #backups .backupsgrid {
      display: grid;
      grid-template-columns: 50% 50%;
      text-align: center;
      grid-row-gap: 15px;
    }
    #backups .backupsgrid p {
      margin-bottom: 0;
      margin-top: 16px;
    }
    #backups .backupsgrid img {
      width: 80%;
    }
    #contact .firstDivider {
      width: 60%;
    }
    #contact .secondDivider {
      width: 60%;
      bottom: 25%;
    }
    #contact .firstDivider {
      width: 60%;
      top: 86px;
    }
    #contact h2 {
      margin-top: 120px;
    }
    #contact img.logoHeader {
      margin-top: 10%;
    }
  }

  @media (max-width: 767.98px) {
    header .bgheader {
      transform: translateY(0px);
    }
    header .innerBgheader img{
      width: 150px;
    }
    header .innerBgheader, header .navbar {
      height: 53px;
    }
    header .navbar-collapse{
      background: #373948A3;
      margin: 0;
      width: 100%;
      position: fixed;
      top: 53px;
      left: 0;
      border-top: solid 3px var(--primary);
    }
    header .navbar-nav{
      max-width: 540px;
      padding-right: calc(var(--bs-gutter-x)/ 2);
      padding-left: calc(var(--bs-gutter-x)/ 2);
      margin: auto;
    }
    header .navbar a.nav-link {
      margin-left: 0;
    }
    header .navbar .nav-item:not(:last-child) {
      border-bottom: solid 1px #ffffff50;
    }
    #banner .containerGrid {
      display: flex;
      flex-direction: column;
    }
    #banner .containerGrid .left {
      background: url('../images/header-left.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 50vh;
    }
    #banner .containerGrid .right {
      padding: 100px 0 48px;
    }
    #banner .containerGrid .right div.bannerText {
      width: 100%;
      padding: 0 16px;
    }
    #banner .dividerBanner {
      top: -30px;
    }
    section#us3 .divider {
      background: #50BAA3;
      width: 60%;
    }
    section#us3 .left{
      align-items: center;
    }
    section#us3 .left .h2{
      text-align: center;
    }
    section#us3 .left{
      margin-bottom: 30px;
    }
    section#us4{
      padding: 8vh 0 2vh;
    }
    section#us4 .left .h2{
      text-align: center;
    }
    section#us4 .left .containerImgApto{
      position: relative;
      left: 0;
      width: 100%;
      margin-bottom: 30px;
    },
    section#us5 {
      padding: 10vh 0 8vh;
    }
    section#us5 .divider {
      width: 60%;
    }
    section#us5 .left .h2{
      text-align: center;
    }
  }

  @media (max-width: 575.98px) {
    #projects .barProgress .legendBar span {
      font-size: 11px;
    }
    #backups .backupsgrid {
      display: grid;
      grid-template-columns: 100%;
      text-align: center;
      grid-row-gap: 15px;
    }
    #contact img.logoHeader {
      margin-top: 30%;
    }
  }

/*--------------------------btnWhatsapp----------------------------*/

  header div#whatsappBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 0;
    z-index: 10;
  }
  header div#whatsappBtn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
  }
  header div#whatsappBtn a:hover {
    text-decoration: none;
    color: var(--text);
  }
  header div#whatsappBtn button {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    padding: 0px;
    border: none;
    position: relative;
    z-index: 1;
    -webkit-animation: brickBtn 6s infinite;
    animation: brickBtn 6s infinite;
  }
  header div#whatsappBtn button:focus {
    outline: none;
  }
  header div#whatsappBtn button img {
    width: 50px;
  }
  header div#whatsappBtn a span {
    background: var(--secondary);
    padding: 6px 10px;
    font-size: 14px;
    margin-top: -6px;
  }

  @keyframes brickBtn {
    0 {
      transform: translate(0, 0) rotate(0deg);
    }
    90% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    91% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    92% {
      transform: translate(-3px, 0) rotate(1deg);
    }
    93% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    94% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    95% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    96% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    97% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    98% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    99% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
