@import "fonts.css";

:root{
  --primary: #f8b600;
  --secondary: #033545;
  --text: #373948;
  --text-secondary: #425762;
  --text-hover: #191920;
  --btn: #f8b600;
  --btn-hover: #a3a3a3;
  font-size: 16px;
}

p.h1, h1, p.h2, h2 {
  font-family: Ramabhadra;
  color: var(--text);
}

p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6, a,p,div,input,button,textarea{
  font-family: Roboto;
  color: var(--text);
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 0;
  padding: 10px 100px;
  color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: var(--btn-hover)!important;
  border-color: var(--btn-hover)!important;
  box-shadow: none!important;
}

/*----------------------------header-------------------------------*/

  header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  header .bgheader {
    position: absolute;
    width: 100%;
    background: #373948A3;
    z-index: 11;
    transform: translateY(-100px);
    transition: ease-in-out .3s;
  }

  header .bgheader.bgShow {
    transform: translateY(0px);
  }

  header .innerBgheader {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
  }

  header .innerBgheader img{
    width: 200px;
  }

  header .navbar {
    position: relative;
    z-index: 12;
    height: 66px;
  }

  header .navbar a.nav-link{
    color: #fff!important;
    margin-left: 35px;
  }

  header button.navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header button.navbar-toggler span {
    width: 30px;
    height: 5px;
    background: #fff;
    border-radius: 13px;
    margin: 2px 0;
  }
  header button.navbar-toggler:focus {
    box-shadow: none;
  }

/*----------------------------Banner-------------------------------*/

  section#banner {
    padding: 0;
  }

  #banner .containerGrid {
    padding: 0;
    display: grid;
    grid-template-columns: 45% 55%;
    min-height: 100vh;
  }

  #banner .containerGrid .innerGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  #banner .containerGrid .left {
    background: linear-gradient(90deg, #d25941c0 0%, #d25941c0 100%), url('../images/header-left.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #banner .containerGrid .left img{
    width: 100%;
    max-width: 417px;
  }

  #banner .containerGrid .right {
    background-image: url('../images/header-right.svg'), linear-gradient(90deg, #373948 0%, #373948 100%);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    padding: 0;
  }

  #banner .containerGrid .right div.containerText{
    position: relative;
    width: 100%;
  }

  #banner .containerGrid .right div.bannerText{
    width: 95%;
    max-width: 520px;
    margin: 0 auto;
  }

  #banner .dividerBanner {
    width: 75%;
    height: 5px;
    background: var(--primary);
    left: 0;
    position: absolute;
    top: -50px;
  }

/*----------------------------btnWhatsapp-------------------------------*/

  header div#whatsappBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 0;
    z-index: 10;
  }
  header div#whatsappBtn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
  }
  header div#whatsappBtn a:hover {
    text-decoration: none;
    color: var(--text);
  }
  header div#whatsappBtn button {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    padding: 0px;
    border: none;
    position: relative;
    z-index: 1;
    -webkit-animation: brickBtn 6s infinite;
    animation: brickBtn 6s infinite;
  }
  header div#whatsappBtn button:focus {
    outline: none;
  }
  header div#whatsappBtn button img {
    width: 50px;
  }
  header div#whatsappBtn a span {
    background: var(--secondary);
    padding: 6px 10px;
    font-size: 14px;
    margin-top: -6px;
  }

  @keyframes brickBtn {
    0 {
      transform: translate(0, 0) rotate(0deg);
    }
    90% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    91% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    92% {
      transform: translate(-3px, 0) rotate(1deg);
    }
    93% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    94% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    95% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    96% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    97% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    98% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    99% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

/*----------------------------Queries-------------------------------*/

  @media (max-width: 1399.98px) {}

  @media (max-width: 1199.98px) {}

  @media (max-width: 991.98px) {
    header .navbar a.nav-link {
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
    header .bgheader {
      transform: translateY(0px);
    }
    header .innerBgheader img{
      width: 150px;
    }
    header .innerBgheader, header .navbar {
      height: 53px;
    }
    header .navbar-collapse{
      background: #373948A3;
      margin: 0;
      width: 100%;
      position: fixed;
      top: 53px;
      left: 0;
      border-top: solid 3px var(--primary);
    }
    header .navbar-nav{
      max-width: 540px;
      padding-right: calc(var(--bs-gutter-x)/ 2);
      padding-left: calc(var(--bs-gutter-x)/ 2);
      margin: auto;
    }
    header .navbar a.nav-link {
      margin-left: 0;
    }
    header .navbar .nav-item:not(:last-child) {
      border-bottom: solid 1px #ffffff50;
    }
    #banner .containerGrid {
      display: flex;
      flex-direction: column;
    }
    #banner .containerGrid .left {
      background: url('../images/header-left.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 50vh;
    }
    #banner .containerGrid .right {
      padding: 100px 0 48px;
    }
    #banner .containerGrid .right div.bannerText {
      width: 100%;
      padding: 0 16px;
    }
    #banner .dividerBanner {
      top: -30px;
    }
  }

  @media (max-width: 575.98px) {}
